@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-red: #e60000;
  --color-brand-gray: #f5f5f5;
  --color-brand-yellow: #FFC000;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-rozha: var(--font-rozha);
  --font-changa: var(--font-changa);
  --font-lexend: var(--font-lexend);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lexend), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  /* Hide scrollbar */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.animate-shine {
  animation: shine 2s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 100s linear infinite;
}

.animate-marquee2 {
  animation: marquee 100s linear infinite;
  position: absolute;
  top: 0;
  left: 100%;
}